.DS_Store
back/.idea/back.iml
back/.idea/compiler.xml
back/.idea/encodings.xml
back/.idea/jarRepositories.xml
back/.idea/misc.xml
back/.idea/modules.xml
back/.idea/vcs.xml
back/.idea/codeStyles/codeStyleConfig.xml
.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.apt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.mylyn.github.ui/avatars.ser
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.vscode/settings.json
front/.vscode/c_cpp_properties.json
front/.vscode/launch.json
front/.vscode/settings.json
.vscode/launch.json

#maven / 24.10.05
pom.xml

.classpath

#eclipse
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
back/tripDuo/.idea/.gitignore
back/tripDuo/.idea/compiler.xml
back/tripDuo/.idea/encodings.xml
back/tripDuo/.idea/jarRepositories.xml
back/tripDuo/.idea/misc.xml
back/tripDuo/.idea/vcs.xml
bin/.gitignore
bin/.project
bin/pom.xml
bin/README.md
bin/.settings/org.eclipse.m2e.core.prefs
bin/back/.gitignore
bin/back/tripDuo/HELP.md
bin/back/tripDuo/mvnw
bin/back/tripDuo/mvnw.cmd
bin/back/tripDuo/pom.xml
bin/back/tripDuo/src/main/resources/.gitignore
bin/front/.gitignore
bin/front/package-lock.json
bin/front/package.json
bin/front/README.md
bin/front/tailwind.config.js
bin/front/public/favicon.ico
bin/front/public/index.html
bin/front/public/logo192.png
bin/front/public/logo512.png
bin/front/public/manifest.json
bin/front/public/robots.txt
bin/front/public/img/img02.png
bin/front/public/img/KakaoLogin.png
bin/front/public/img/logo.png
bin/front/src/App.css
bin/front/src/App.js
bin/front/src/App.test.js
bin/front/src/index.css
bin/front/src/index.js
bin/front/src/logo.svg
bin/front/src/reportWebVitals.js
bin/front/src/setupTests.js
bin/front/src/components/AlertModal.js
bin/front/src/components/BsNavBar.js
bin/front/src/components/ConfirmModal.js
bin/front/src/components/CourseGoogleMapComponent.js
bin/front/src/components/CourseKakaoMapComponent.js
bin/front/src/components/Footer.js
bin/front/src/components/GoogleRedirect.js
bin/front/src/components/KakaoRedirect.js
bin/front/src/components/TermPrivacyModal.js
bin/front/src/components/TermServiceModal.js
bin/front/src/css/Agreement.css
bin/front/src/css/BsNavBar.css
bin/front/src/css/Footer.css
bin/front/src/css/Home.css
bin/front/src/css/LoginListPage.css
bin/front/src/css/LoginPage.css
bin/front/src/css/TermPrivacyModal.css
bin/front/src/pages/Agreement.js
bin/front/src/pages/CompletedSignup.js
bin/front/src/pages/Home.js
bin/front/src/pages/HomeAbroad.js
bin/front/src/pages/HomeMate.js
bin/front/src/pages/LoginPage.js
bin/front/src/pages/LogoutPage.js
bin/front/src/pages/Sample.js
bin/front/src/pages/Signup.js
bin/front/src/pages/Utilities/ExchangeInfo.js
bin/front/src/pages/Utilities/ExtraPage.js
bin/front/src/pages/Utilities/LanguageCultureTips.js
bin/front/src/pages/Utilities/LocationRecommendations.js
bin/front/src/pages/Utilities/TravelChecklist.js
bin/front/src/pages/Utilities/TravelCostCalculator.js
bin/front/src/pages/Utilities/TravelDiary.js
bin/front/src/pages/Utilities/TravelPlaner.js
bin/front/src/pages/Utilities/TravelSafetyInfo.js
bin/front/src/pages/boards/CourseBoard.js
bin/front/src/pages/boards/CourseBoardDetail.js
bin/front/src/pages/boards/CourseBoardEditForm.js
bin/front/src/pages/boards/CourseBoardForm.js
bin/front/src/pages/boards/MateBoard.js
bin/front/src/pages/boards/MateBoardDetail.js
bin/front/src/pages/boards/MateBoardEditForm.js
bin/front/src/pages/boards/MateBoardForm.js
bin/front/src/pages/myPage/ChangePassword.js
bin/front/src/pages/myPage/MyPage.js
bin/front/src/pages/myPage/MyProfile.js
bin/front/src/pages/myPage/MyProfileForm.js
bin/front/src/pages/myTripTmp/MyPlace.js
bin/front/src/pages/myTripTmp/MyPlan.js
bin/front/src/pages/myTripTmp/MyRecord.js
bin/front/src/pages/myTripTmp/WishMate.js
bin/front/src/router/router.js
bin/target/classes/META-INF/MANIFEST.MF
.project
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/tripDuo/tripDuo/pom.properties
target/classes/META-INF/maven/tripDuo/tripDuo/pom.xml
back/tripDuo/src/main/resources/static/asset-manifest.json
back/tripDuo/src/main/resources/static/favicon.ico
back/tripDuo/src/main/resources/static/index.html
back/tripDuo/src/main/resources/static/logo192.png
back/tripDuo/src/main/resources/static/logo512.png
back/tripDuo/src/main/resources/static/manifest.json
back/tripDuo/src/main/resources/static/robots.txt
back/tripDuo/src/main/resources/static/img/GoogleLogin.png
back/tripDuo/src/main/resources/static/img/KakaoLogin.png
back/tripDuo/src/main/resources/static/img/person_circle_icon.png
back/tripDuo/src/main/resources/static/img/TripDuologo.png
back/tripDuo/src/main/resources/static/img/carouselImages/carousel-checkList.jpg
back/tripDuo/src/main/resources/static/img/carouselImages/carousel-course-international.jpg
back/tripDuo/src/main/resources/static/img/carouselImages/carousel-main.jpg
back/tripDuo/src/main/resources/static/img/carouselImages/carousel-mate-domestic.jpg
back/tripDuo/src/main/resources/static/img/carouselImages/carousel-mate-international.jpg
back/tripDuo/src/main/resources/static/img/carouselImages/promotion-points-course-domestic.png
back/tripDuo/src/main/resources/static/img/countryImages/AUS_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/AUS_Brisbane_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/AUS_Melbourne_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/AUS_Perth_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/AUS_Sydney_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/BRA_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/BRA_Brasilia_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/BRA_RioDeJaneiro_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/BRA_Salvador_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/BRA_SaoPaulo_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/CAN_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/CAN_Montreal_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/CAN_Ottawa_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/CAN_Toronto_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/CAN_Vancouver_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/CHN_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/CHN_Beijing_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/CHN_Guangzhou_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/CHN_Shanghai_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/CHN_Xian_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/DEU_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/DEU_Berlin_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/DEU_Frankfurt_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/DEU_Hamburg_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/DEU_Munich_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ESP_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ESP_Barcelona_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ESP_Granada_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ESP_Madrid_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ESP_Seville_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/FRA_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/FRA_Lyon_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/FRA_Marseille_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/FRA_Nice_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/FRA_Paris_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/GBR_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/GBR_Birmingham_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/GBR_Liverpool_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/GBR_London_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/GBR_Manchester_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/IND_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/IND_Bengaluru_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/IND_Delhi_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/IND_Kolkata_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/IND_Mumbai_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ITA_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ITA_Firenze_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ITA_Milano_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ITA_Roma_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ITA_Venezia_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/JPN_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/JPN_Kyoto_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/JPN_Osaka_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/JPN_Sapporo_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/JPN_Tokyo_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/KOR_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/KOR_Busan_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/KOR_Incheon_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/KOR_Jeju_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/KOR_Seoul_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/RUS_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/RUS_Moscow_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/RUS_Novosibirsk_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/RUS_SaintPetersburg_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/RUS_Yekaterinburg_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/USA_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/USA_Chicago_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/USA_LosAngeles_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/USA_Miami_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/USA_NewYork_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ZAF_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ZAF_CapeTown_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ZAF_Durban_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ZAF_Johannesburg_01.jpg
back/tripDuo/src/main/resources/static/img/countryImages/ZAF_Pretoria_01.jpg
back/tripDuo/src/main/resources/static/img/defaultImages/defaultProfilePicture.svg
back/tripDuo/src/main/resources/static/img/menuIcons/checklist.png
back/tripDuo/src/main/resources/static/img/menuIcons/course-domestic.png
back/tripDuo/src/main/resources/static/img/menuIcons/course-international.png
back/tripDuo/src/main/resources/static/img/menuIcons/exchange.png
back/tripDuo/src/main/resources/static/img/menuIcons/make-schedule.png
back/tripDuo/src/main/resources/static/img/menuIcons/mate-domestic.png
back/tripDuo/src/main/resources/static/img/menuIcons/mate-international.png
back/tripDuo/src/main/resources/static/img/menuIcons/save-place.png
back/tripDuo/src/main/resources/static/img/socialLinks/instagram.svg
back/tripDuo/src/main/resources/static/img/socialLinks/tictok.svg
back/tripDuo/src/main/resources/static/img/userRatingImages/business-01.svg
back/tripDuo/src/main/resources/static/img/userRatingImages/business-02.svg
back/tripDuo/src/main/resources/static/img/userRatingImages/default.svg
back/tripDuo/src/main/resources/static/img/userRatingImages/economy-01.svg
back/tripDuo/src/main/resources/static/img/userRatingImages/economy-02.svg
back/tripDuo/src/main/resources/static/img/userRatingImages/first-01.svg
back/tripDuo/src/main/resources/static/img/userRatingImages/first-02.svg
back/tripDuo/src/main/resources/static/img/userRatingImages/royal-01.svg
back/tripDuo/src/main/resources/static/static/css/main.635cd467.css
back/tripDuo/src/main/resources/static/static/css/main.635cd467.css.map
back/tripDuo/src/main/resources/static/static/js/453.125ae1d0.chunk.js
back/tripDuo/src/main/resources/static/static/js/453.125ae1d0.chunk.js.map
back/tripDuo/src/main/resources/static/static/js/main.acef68ca.js
back/tripDuo/src/main/resources/static/static/js/main.acef68ca.js.LICENSE.txt
back/tripDuo/src/main/resources/static/static/js/main.acef68ca.js.map
