.DS_Store
back/.idea/back.iml
back/.idea/compiler.xml
back/.idea/encodings.xml
back/.idea/jarRepositories.xml
back/.idea/misc.xml
back/.idea/modules.xml
back/.idea/vcs.xml
back/.idea/codeStyles/codeStyleConfig.xml
